<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org":>
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="p-3 mb-2 bg-primary text-dark ">
<div class="container-fluid text-center">
    <h1>WebApplication by Emil Kowalczyk </h1>
    <h2>Menu:</h2>
    <h2><a class="h3" style="color: aliceblue" th:href="@{/users}">1. Zarządzaj użytkownikami</a></h2>
    <h2><a class="h3" style="color: aliceblue" th:href="@{/users}">2. Wyjdź</a></h2>
</div>
</div>
</body>
</html>